body {
    margin-top: 100px;
    background-color: #F5D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: relative;
}

.main_div {
    height: 250px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#svg {
    position: absolute;
    bottom: 90px;
    border-radius: 15px;
    margin: 0;
}

.attribution {
    position: absolute;
    top: 320px;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

h1 {
    font-size: 14px;
    position: relative;
    top:40px;
    white-space: nowrap;
    margin: 0;
}

.learn_div {
    width: 78px;
    height: 20px;
    background-color: #F5CE57;
    position: absolute;
    top: 115px;
    left:15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#learning {
    font-size: 15px;
    margin: 0;

}

p {
    margin: 0;
    font-size: 12px;
}

#published {
    position: absolute;
    font-size: 10px;
    white-space: nowrap;
    bottom: 95px;
    right:80px;
}

#these {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
    position: absolute;
    bottom: 35px;
    left:15px;
}

#name {
    position: absolute;
    top: 230px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

img {
    height: 25px;
    position:absolute;
    top:220px;
    left:30px;
}
